
body {
	padding: 0;
	margin: 0;
}

#pinContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.startcontainer{
	width: 100%;
	height: 100vh;
	background-color: white;
	color: black;
}

#phife{
	font-family: 'Spectral', serif;
	color: black;
    font-size: 15px;
    letter-spacing: .03em;
    line-height: 21px;
    margin-bottom: 5px;
}
#phifediv{
	-webkit-transform: rotate(-45deg);
    width: 350px;
    right: 429px;
    position: absolute;
    top: -45px;
}

.intro{
	font-family: 'Spectral', serif;
	width: 900px;
	height: 100px;
	color: black;
	position: absolute;
	z-index: 2;
	top: 150px;
	left: 5%;
	font-size: 50px;
}

#branding{
	font-family: 'Spectral', serif;
	width: 600px;
	height: 200px;
	color: black;
	z-index: 2;
	top: 400px;
    position: absolute;
    left: 50%;
    font-size: 20px;
    letter-spacing: .03em;
    line-height: 21px;
}


.projects{
	height: 100vh;
    width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
	background-color: white;
	color: black;
}

#project1{
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	margin-left: 25%;
	align-content: flex-start;
	flex-wrap: wrap;
	color: black;
	position: absolute;
	margin-top: 20%
}


.project1-title{
	width: 200px;
	height: 50px;
	font-family: 'Spectral', serif;
	font-size: 24px;
	order: 1;
	flex: 0 0 auto;
}

.HR-text{
	font-family: 'Spectral', serif;
    font-size: 16px;
    width: 500px;
    height: 200px;
    letter-spacing: .03em;
    line-height: 20px;
    order: 2;
    flex: 0 0 auto;
    color: black;
   
}

.projectsTitle{
	height: 100px;
	width: 100px;
	font-size: 36px;
	order: 1;
	margin-top: 10px;

}

.hr-images{
	height: 100px;
	width: 100px;
	order: 3;
	flex: 0 0 auto;
	margin-left: 10%;
	display: flex;
	flex-direction: row;
}
.HR-ss{
	 height: 150px; 
	 width: 200px;
	 margin-left: -35px;
	 order: 1;
}
.tech_hr{
	font-family: 'Spectral', serif;
	width: 100px;
	height: 100px;
	display: inline;
	padding-left: 9px;
	margin-left: 99px;
	text-align: left;
	white-space: nowrap;
	order: 2;
}


#project2{
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	margin-left: 25%;
	align-content: flex-start;
	flex-wrap: wrap;
	position: absolute;
	margin-top: 20%
}

.project2-title{
	width: 200px;
	height: 50px;
	font-family: 'Spectral', serif;
	font-size: 24px;
	order: 1;
	flex: 0 0 auto;
}
.hash-text{

	font-family: 'Spectral', serif;
    font-size: 16px;
    width: 500px;
    height: 200px;
    letter-spacing: .03em;
    line-height: 20px;
    order: 2;
    flex: 0 0 auto;
    color: black;
}
.hash-images{
	height: 100px;
	width: 100px;
	order: 3;
	flex: 0 0 auto;
	margin-left: 10%;
	display: flex;
	flex-direction: row;
}

.hash-ss{
	height: 150px; 
	 width: 200px;
	 margin-left: -35px;
	 order: 1;
}

.tech_hash{
	font-family: 'Spectral', serif;
	width: 100px;
	height: 100px;
	display: inline;
	padding-left: 9px;
	margin-left: 99px;
	text-align: left;
	white-space: nowrap;
	order: 2;
}

#project3{
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	margin-left: 25%;
	align-content: flex-start;
	flex-wrap: wrap;
	color: black;
	position: absolute;
	margin-top: 20%
}

#project3-title{
	width: 200px;
	height: 50px;
	font-family: 'Spectral', serif;
	font-size: 24px;
	order: 1;
	flex: 0 0 auto;
	color: black;
}
.crate-text{
	font-family: 'Spectral', serif;
    font-size: 16px;
    width: 500px;
    height: 200px;
    letter-spacing: .03em;
    line-height: 20px;
    order: 2;
    flex: 0 0 auto;
    color: black;
}
.crate-text p{
	color: black;
}
.crate-images{
	height: 100px;
	width: 100px;
	order: 3;
	flex: 0 0 auto;
	margin-left: 10%;
	display: flex;
	flex-direction: row;
	color: black;
}

.crate-ss{
	height: 150px; 
	 width: 200px;
	 margin-left: -35px;
	 order: 1;
	 color: black;
}
.tech_crate{
	font-family: 'Spectral', serif;
	width: 100px;
	height: 100px;
	display: inline;
	padding-left: 9px;
	margin-left: 99px;
	text-align: left;
	white-space: nowrap;
	order: 2;
	color: black;
}

.footer{
	width: 100%;
	height: 200px;
	display: flex;
	flex direction: column;
	justify-content: center;
	padding-top: 20px;
	background-color: black;
	color: white;
}

.devicon-github-plain{
	font-size: 60px;
	color: white;
}
#copyright{
	margin: 0 auto;
	order: 1;
	width: 200px;
	height: 25px;
	color: white;
}
#contact{
	margin: 0 auto;
	order: 2;
	width: 200px;
	height: 75px;
	color: white;
}

a{
	text-decoration: none;	
}